In [2]:
gender=[1,1,1,1,1,1,1,1,1,2,2,2,2,2,2]
age=   [1,1,1,1,1,1,1,1,2,2,2,2,2,2,2]
head=  [4512,3738,4261,3777,4177,3585,3785,3559,3613,3982,3443,3993,3640,4208,3832]
weight=[1530,1297,1335,1282,1590,1300,1400,1255,1355,1375,1340,1380,1355,1522,1208]

In [4]:
import pandas as pd

# Read data from CSV file
df = pd.read_csv('/content/aiml lab2.csv')  # Replace 'your_file_path.csv' with the path to your CSV file

# Function to normalize using min-max scaling
def min_max_scaling(col):
    return (col - col.min()) / (col.max() - col.min())

# Apply min-max scaling to selected columns
columns_to_scale = ['Head Size(cm^3)', 'Brain Weight(grams)']
df_normalized = df.copy()

# Handle missing values by dropping rows with NaN
df_normalized.dropna(subset=columns_to_scale, inplace=True)

# Apply min-max scaling to selected columns
df_normalized[columns_to_scale] = df_normalized[columns_to_scale].apply(min_max_scaling, axis=0)

print(df_normalized)

    Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0        1          1         1.000000             0.842932
1        1          1         0.275959             0.232984
2        1          1         0.765201             0.332461
3        1          1         0.312442             0.193717
4        1          1         0.686623             1.000000
5        1          1         0.132834             0.240838
6        1          1         0.319925             0.502618
7        1          1         0.108513             0.123037
8        1          2         0.159027             0.384817
9        2          2         0.504210             0.437173
10       2          2         0.000000             0.345550
11       2          2         0.514500             0.450262
12       2          2         0.184284             0.384817
13       2          2         0.715622             0.821990
14       2          2         0.363891             0.000000

In [7]:
import pandas as pd

# Read the data
df = pd.read_csv('/content/housing.csv')  # Replace 'your_file_path.csv' with the path to your CSV file

# Describe the data
description = df.describe()
print(description)

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [8]:
# Find data type of each column
data_types = df.dtypes
print("Data types of each column:")
print(data_types)

# Find shape of the DataFrame
shape = df.shape
print("Shape of the DataFrame:", shape)

Data types of each column:
longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object
Shape of the DataFrame: (20640, 10)

In [10]:
# Find null values
null_values = df.isnull().sum()
print("Null values:")
print(null_values)

# Fill null values with '0' or mean of that column
# Let's fill null values with mean of the respective columns
df_filled = df.fillna(df.mean())

# You can also fill null values with '0' by using:
# df_filled = df.fillna(0)

print("DataFrame after filling null values:")
print(df_filled)

Null values:
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64
DataFrame after filling null values:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]

<ipython-input-10-74fcc467ba71>:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_filled = df.fillna(df.mean())

In [12]:
import pandas as pd

df = pd.read_csv('/content/housing1.csv')

print(df.head())

features = df.drop(columns=['median_house_value'])

target = df['median_house_value']

print("\nFeatures:")
print(features.head())
print("\nTarget:")
print(target.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

Features:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income ocean_proximity
0       322.0       126.0         8.3252        NEAR BAY
1      2401.0      1138.0         8.3014        NEAR BAY
2       496.0       177.0         7.2574        NEAR BAY
3       558.0       219.0         5.6431        NEAR BAY
4       565.0       259.0         3.8462        NEAR BAY

Target:
0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

In [13]:
features_encoded = pd.get_dummies(features, columns=['ocean_proximity'], drop_first=True)

scaler = MinMaxScaler()

scaled_features = scaler.fit_transform(features_encoded)

df_scaled = pd.DataFrame(scaled_features, columns=features_encoded.columns)

print("\nNormalized Data:")
print(df_scaled.head())

Normalized Data:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0   0.211155  0.567481            0.784314     0.022331        0.019863
1   0.212151  0.565356            0.392157     0.180503        0.171477
2   0.210159  0.564293            1.000000     0.037260        0.029330
3   0.209163  0.564293            1.000000     0.032352        0.036313
4   0.209163  0.564293            1.000000     0.041330        0.043296

   population  households  median_income  ocean_proximity_INLAND  \
0    0.008941    0.020556       0.539668                     0.0
1    0.067210    0.186976       0.538027                     0.0
2    0.013818    0.028943       0.466028                     0.0
3    0.015555    0.035849       0.354699                     0.0
4    0.015752    0.042427       0.230776                     0.0

   ocean_proximity_ISLAND  ocean_proximity_NEAR BAY  \
0                     0.0                       1.0
1                     0.0                       1.0
2                     0.0                       1.0
3                     0.0                       1.0
4                     0.0                       1.0

   ocean_proximity_NEAR OCEAN
0                         0.0
1                         0.0
2                         0.0
3                         0.0
4                         0.0

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_scaled, target, test_size=0.2, random_state=42)

print("\nTrain data shape:", X_train.shape, y_train.shape)
print("Test data shape:", X_test.shape, y_test.shape)

Train data shape: (16512, 12) (16512,)
Test data shape: (4128, 12) (4128,)